<header>
  <h1 class="section-headline">Current List of Shops</h1>
</header>
<% @shops.each do |shop| %>

  <section class="row shop__container">
    <div class="nine columns frontpage__shop">
      <a class="shop-link" href="/shops/<%= shop.id %> ">
        <h2><%= shop.name %> <span class="frontpage__shop-address"><%= "#{shop.address}, #{shop.postcode}, #{shop.city} " %></span></h2>
      </a>

      <% shop.services.each do |service| %>
       <span class="frontpage__service-item"> <%= service.name %> </span>
      <% end %>
      <p class="frontpage__shop-description"><%= shop.description %></p>
      <a class="frontpage__shop-link" href="http://<%= shop.link_url %>">Website</a>
    </div>
    <div class="three columns">
      <div class="frontpage__logo">
        <img src="<%= shop.logo_url %>" alt="">
      </div>
    </div>
  </section>

<% end %>
