<h1><%= @shop.name %></h1>
<p><%=" #{@shop.address}, #{@shop.postcode} #{@shop.city}, #{@shop.state}" %></p>
<h3><%= @shop.description %></h1>

<div id="map" class="">
</div>

<!-- If logged in, show form to update shop -->
<% if current_user = @shop.shop_owner_id %>
<h2>Edit This Cafe</h2>
<form class="" action="/shops/<%= @shop.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="text" name="name" value="" placeholder="Cafe Name">
  <input type="text" name="address" value="" placeholder="Address">
  <input type="text" name="city" value="" placeholder="City">
  <!-- <input type="text" name="state" value="" placeholder="State"> -->
  <select class="" name="state">
    <option value="VIC">Victoria</option>
    <option value="QLD">Queensland</option>
    <option value="ACT">Australian Capital Territory</option>
    <option value="NSW">New South Wales</option>
    <option value="SA">South Australia</option>
    <option value="WA">Wester Australia</option>
    <option value="TAS">Tasmania</option>
    <option value="NT">Northern Territory</option>
  </select>
  <input type="text" name="postcode" value="" placeholder="Postcode">
  <input type="text" name="logo_url" value="" placeholder="Link to Logo">

  <!-- Display list of services -->
  <fieldset class="shop_services">
    <h3>List of amenities</h3>
    <% @services.each do |service| %>
      <label><%= service.name %></label>
      <input type="checkbox" name="services[<%= service.name %>]" value="<%= service.id %>">
    <% end %>
  </fieldset>

  <input type="submit" name="" value="Update Information">
  </form>

<form class="" action="<%= @shop.id %>/delete" method="post">
  <input type="submit" name="delete-shop" value="Delete This Shop :(">
</form>

<% end %>



<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJkyjk-RH4LWm0aMMyFZhz-qtRmYK4GfM&callback=initMap">
</script>
